In [1]:
import requests
import json 
import pandas as pd

In [2]:
# sanity check, data verification

#since the data that we scraped is cumulative we need to take the difference
#meaning if say each day has 1 case, the third day value is 3 and not 1
#we need data on a daily basis and not cumulative

url = "https://api.covid19api.com/total/country/singapore/status/confirmed"

response = requests.request("GET", url)
parsed_data = json.loads(response.text)
temp = pd.DataFrame.from_dict(parsed_data)
temp.set_index('Date')
temp['Cases'] = temp['Cases'].diff()
temp.Cases.fillna(0).sum()

# We can that verify with worldometer that is figures are pretty close at 64,981 
# https://www.worldometers.info/coronavirus/country/singapore/

64861.0

In [3]:
# we're going to build a dashboard for SEA instead of SG
sea = ['brunei','cambodia','indonesia','laos','malaysia','myanmar','philippines','singapore','thailand','vietnam']

rename_country ={
'Brunei Darussalam':'Brunei',
'Lao PDR':'Laos',
'Viet Nam':'Vietnam'
}
rename_list = ['brunei','laos','vietnam']

url_pattern = 'https://api.covid19api.com/total/country/{}/status/confirmed'
required_cols =['Country','Cases','Date']

df = pd.DataFrame()
for country in sea:
    # scrape data from api based on country and concat accordingly
    # to form a dataset
    url = url_pattern.format(country)
    response = requests.request("GET", url)
    parsed_data = json.loads(response.text)
    temp = pd.DataFrame.from_dict(parsed_data)
    
    temp=temp[required_cols] # we only want columns we cared for
    
    #since the data that we scraped is cumulative we need to take the difference
    #meaning if say each day has 1 case, the third day value is 3 and not 1
    temp['Cases'] = temp['Cases'].diff()
    temp['Cases'].fillna(0,inplace=True) #since the first row is null as it's shifted by 'diff'
    
    if country in rename_list: # cleaning data by changing names
        temp['Country'] = temp['Country'].map(rename_country)
        
    df = pd.concat([df,temp])

In [4]:
#extract more resolution from date_time
df['year'] = pd.DatetimeIndex(df['Date']).year
df['month'] = pd.DatetimeIndex(df['Date']).month
df['day'] = pd.DatetimeIndex(df['Date']).day
df['quarter'] = pd.DatetimeIndex(df['Date']).quarter
df['date'] = pd.DatetimeIndex(df['Date'])
df['year_month'] = pd.DatetimeIndex(df['Date']).strftime('%Y-%m')

# delete the not so useful column
del df['Date']

In [5]:
# samples 10 rows of data
df.sample(10)

,Country,Cases,year,month,day,quarter,date,year_month
543,Vietnam,4843.0,2021,7,18,3,2021-07-18 00:00:00+00:00,2021-07
534,Singapore,10.0,2021,7,9,3,2021-07-09 00:00:00+00:00,2021-07
1,Indonesia,0.0,2020,1,23,1,2020-01-23 00:00:00+00:00,2020-01
27,Malaysia,0.0,2020,2,18,1,2020-02-18 00:00:00+00:00,2020-02
423,Philippines,7990.0,2021,3,20,1,2021-03-20 00:00:00+00:00,2021-03
461,Thailand,2180.0,2021,4,27,2,2021-04-27 00:00:00+00:00,2021-04
375,Philippines,2102.0,2021,1,31,1,2021-01-31 00:00:00+00:00,2021-01
5,Myanmar,0.0,2020,1,27,1,2020-01-27 00:00:00+00:00,2020-01
304,Cambodia,1.0,2020,11,21,4,2020-11-21 00:00:00+00:00,2020-11
416,Thailand,78.0,2021,3,13,1,2021-03-13 00:00:00+00:00,2021-03

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5560 entries, 0 to 555
Data columns (total 8 columns):
Country       5560 non-null object
Cases         5560 non-null float64
year          5560 non-null int64
month         5560 non-null int64
day           5560 non-null int64
quarter       5560 non-null int64
date          5560 non-null datetime64[ns, UTC]
year_month    5560 non-null object
dtypes: datetime64[ns, UTC](1), float64(1), int64(4), object(2)
memory usage: 390.9+ KB

In [7]:
df.to_csv('covid.csv',index=False)